<div class="container">
  Aplikacja TO-DO Angular
</div>

<div class="container">
  <div>
    <p>
      <input [ngClass]="inputClass" [(ngModel)]="newTask" title="Dodaj zadanie" placeholder="Podaj nazwę zadania..">
      <button (click)="addTask()">Dodaj zadanie</button>
    </p>
  </div>
</div>

<div class="container">
  <div>
    <!-- TODO Information when there is no task ng-container -->
    <p> Lista zadań: </p>
    <ul *ngFor="let task of tasksList; let idx = index">
      <li>
        {{idx + 1}} {{task}}
        <button title="remove" (click)="removeTask(idx)">Usun</button>
        <button title="done" (click)="doneTask(idx)">Zrobione</button>
      </li>
    </ul>
  </div>

  <div>
    <p> Zadania wykonane:</p>
    <!-- TODO number of done task-->
    <ul *ngFor="let task of doneTaskList; let idx = index">
      <li>
        {{task}}
        <button title="resolve" (click)="resolveTask(idx)">Przywróc</button>
      </li>
    </ul>
  </div>
</div>
